.container {
}
.container .content {
  width: 100%;
  height: 100%;
}

.table {
  width: 700px;
  height: calc(100% - 180px);
  margin: 36px auto 0;
  overflow: auto;
}

table {
  width: 100%;
  border: 1px solid #e1e1e1;
  /* border-collapse: collapse; */
  border-collapse: separate;
  border-spacing: 0;
  border-radius:5px;
  overflow: hidden;
}
.table tr {
  height: 34px;
  text-align: center;
}
th, td {
  border-bottom: 1px solid #f7f7f7;
  width: 30%;
}
th:first-child, td:first-child, th:last-child, td:last-child {
  width: 20%;
}

th {
  font-weight: normal;
  background-color: #f7f7f7;
  /* color: white; */
  font-weight: 600;
}



.catalogue-table {
  margin-top: 20px;
}

.control {
  margin: 36px auto;
  text-align: center;
}
.control .btn {
  margin: 0 10px;
}
